.Home {
    background-color: rgb(135, 190, 250);
    color: white;
    font-family: "Comfortaa", serif;
    padding-bottom: 10%;
    padding-top: 1%;
}

body {
    background-color: lightskyblue;
    color: white;
    font-family: "Comfortaa", serif;
    margin: 0;
    padding: 30px;
}
 
article {
    text-align: right;
    margin: 0;
    display: block;
    font-family: "Comfortaa", serif;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 12em;
    font-family: "Comfortaa", serif;
    margin: 0 0.1em 0 0;
}

p {
    width: 50%;
    font-size: 1.1em;
    float: right;
    font-family: "Comfortaa", serif;
    margin-right: 30px;
}

h2 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    font-family: "Comfortaa", serif;
    text-align: center;
    color: white;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: "Comfortaa", serif;
    color: white;
}

.mainnavbar {
    text-align: center;
    font-size: 1.2em;
    font-family: "Comfortaa", serif;
    margin-bottom: 10%;
    color: white;
}

a {
    padding: 0;
    margin: 10px;
    font-family: "Comfortaa", serif;
    text-decoration: none;
    color: aqua;
}

a:hover {
    background-color: rgb(135, 190, 250);
    font-family: "Comfortaa", serif;
    color: aquamarine;
}

#footer {
    width: 100%;
    margin-top: 100px;
    font-family: "Comfortaa", serif;
    background-color: rgb(135, 190, 250);
    color: white;
    padding: 10px;
    text-align: center;
}

iframe {
    margin-top: 3%;
    margin-left: 5%;
    font-family: "Comfortaa", serif;
    float: left;
    width: 30%;
    height: 500px;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: blue;
    }
    .Home {
        background-color: blue;
    }
    a:hover {
        background-color: blue;
    }
    h1 {
        font-size: 5em;
        padding-right: 20px;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 1em;
    }
    .mainnavbar {
        font-size: 1em;
    }
    a {
        padding: 10px;
    }
    p {
        font-size: 1em;
    }
    #footer {
        background-color: blue;
    }
}